body {
    /*background-color: floralwhite;*/
    font-family: Consolas, Monaco, 'Comic Sans MS', Courier, monospace;
    font-size: 150%;
    margin: 0;
    padding: 0;
}
a.go {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
aside {
    background-color: floralwhite;
    border: 1px solid silver;
    box-shadow: 5px 10px 4px #888;
    float: right;
    padding-left: 10px;
}
code {
    background: ivory;
    font-weight: bold;
    padding: 0 5px;
}
code.cmd {
    background-color: black;
    border-left: 5px solid silver;
    color: white;
    padding: 2px 5px;
}
details {
    border-bottom: 1px solid aliceblue;
    margin: 2px;
    overflow: auto;
    padding-left: 8px;
}
details ol, ul {
    margin-left: 1%;
}
footer {
    background-color: whitesmoke;
    border-top: 1px solid silver;
    color: dimgray;
    margin-top: 2%;
    padding: 1%;
}
h1 > a {
    text-decoration: none;
}
header {
    position: relative; top: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid silver;
    padding: 1%;
}
header h1 {
    margin: 0;
}
li {
    line-height: 150%;
}
main {
    padding: 1% 2%;
}
nav {
    background-color: snow;
    border-bottom: 1px solid silver;
    overflow: hidden;
}
nav > a {
    border: 1px solid transparent;
    border-right: 1px solid silver;
    cursor: default;
    padding: 4px 8px;
    text-decoration: none;
}
nav > a:hover {
    background-color: ghostwhite;
    /*border-right: 1px solid silver;*/
    text-decoration: overline;
}
ol {
    border-top: 1px solid lightblue;
    margin-left: 1%;
}
ol li {
    border-top: 1px solid lightblue;
    font-weight: bold;
    line-height: 200%;
}
pre {
    background-color: navajowhite;
    font-family: Courier New, Courier, monospace;
    margin-left: 8px;
    padding: 4px;
}
pre.cmd {
    background-color: black;
    border: 2px solid silver;
    color: white;
    padding: 5px;
}
span.go {
    border-right: 1px solid silver;
    font-size: larger;
    font-weight: bold;
    padding: 4px 8px;
}
.bug {
    color: red;
    font-weight: bold;
}
.doing {
    color: blue;
}
.done {
    color: green;
}
.issue {
    color: indianred;
    font-style: italic;
}
.oandm {/*OperationAndMaintenance*/
    color: teal;
}
.rule  {
    color: brown;
}
.todo  {
    color: tomato;
}
.toggler {
    border: 1px solid silver;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}
.togl {
    border: 1px solid silver;
    cursor: default;
    font-size: 200%;
    padding: 0 8px;
}
.togl:hover {
    background-color: aliceblue;
}
